/* App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  width: 100%;
}



body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4f8, #ffffff); /* Light Gray to White */
  font-family: 'Poppins', sans-serif;
  color: #222; /* Clean black text */
}


